

div {
    height: 100vh;
    background-image: url("paper.gif");
    background-image: linear-gradient(blue,purple);


}

.Title {
    text-transform: uppercase;




}








.header {
    height: 100vh;
    background-image: url("fox-45899_720.webp");
    font-style: italic;

}
#image {
    height: 100vh;





}



