

div {
    height: 100vh;
    background-image: url("astronomy-1867616_1920.jpg");


}

.Title {
    text-transform: uppercase;
    color: bisque;



}
.list {
    color: white;

}

.header {
    height: 100vh;
    font-style: italic;


}
#image {
    height: 50vh;
    filter: saturate(200%);
}
